  <footer class="span-24">
    <p class="span-24 quiet last">Copyright &copy; 2011 nullsix</p>

    <div class="span-8">
      <h5 class="bottom">Sites</h5>
      <ul class="box">
        <li><%= link_to "nullsix", "#" %></li>
        <li><%= link_to "Thoughts of an Eaten Sun", "#" %></li>
        <li><%= link_to "Tinder", "#" %></li>
      </ul>
    </div>

    <div class="span-8">
      <h5 class="bottom">Company</h5>
      <ul class="box">
        <li><%= link_to "About", "#" %></li>
        <li><%= link_to "Contact Us", "#" %></li>
      </ul>
    </div>

    <div class="span-8 last">
      <h5 class="bottom">Help</h5>
      <ul class="box">
        <li><%= link_to "Feedback", "#" %></li>
        <li><%= link_to "FAQ", "#" %></li>
      </ul>
    </div>
  </footer>