<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'application' %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>

<div class="container">
  <div class="row">
    <%= render 'layouts/header' %>

    <%= yield %>

  <%= render 'layouts/footer' %>
</div>

</body>
</html>
