<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag :defaults %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>

<div class="container">
  <%= render 'layouts/header' %>

  <!--<hr />-->
  <section class="span-10 last">
  <%= yield %>
  </section>
  <!--<hr />-->

  <%= render 'layouts/footer' %>
</div>

</body>
</html>
